__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/
ENV/
env.bak/
instance/
.DS_Store
.mypy_cache/
.pytest_cache/
# .vscode/
.idea/
coverage.xml
htmlcov/
tests

auth_app/__pycache__/
auth_app/api/__pycache__/
auth_app/migrations/

board_app/__pycache__/
board_app/api/__pycache__/
board_app/migrations/__pycache__/
board_app/migrations/0001_initial.py

core/__pycache__/

db.sqlite3

.setup/
.vscode/